workflows/agents/04-dev-loop/workflow/workflow.json
{
  "id": "EBMbixqklugU5WtQ",
  "name": "Dev Loop — Full Lifecycle",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dev-loop",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "e0f84f02-755e-4c8c-9d67-f2e61a86342b",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        300
      ],
      "webhookId": "8f2f6218-9be7-4b75-8758-6c30cd22d31a"
    },
    {
      "parameters": {
        "model": "anthropic/claude-haiku-4-5",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "8df3d95d-d130-4654-ad3f-b6384d82d7bc",
      "name": "Haiku via OpenRouter",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        460,
        200
      ],
      "credentials": {
        "openAiApi": {
          "id": "mOL6UoYXfgKf6RZh",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "name": "n8n_api",
        "description": "Call the n8n REST API. Pass JSON: {method, path, body?}. Example: {\"method\":\"GET\",\"path\":\"/api/v1/workflows\"}",
        "language": "javaScript",
        "jsCode": "try {\n  const raw = typeof query === \"object\" && query.query ? query.query : query;\n  const input = typeof raw === \"string\" ? JSON.parse(raw) : raw;\n  const method = (input.method || \"GET\").toUpperCase();\n  const path = input.path || \"/api/v1/workflows\";\n  const body = input.body || undefined;\n\n  const url = \"http://localhost:5678\" + path;\n  const reqConfig = {\n    method: method,\n    url: url,\n    headers: {\n      \"Content-Type\": \"application/json\",\n      \"X-N8N-API-KEY\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJlZjQzNTRkOC03NWRmLTQwNDctOWQ2ZC1kODk3MmMxZWFiNDEiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiMjAyYTY5NWItZWE4Ny00YWUxLWE3N2ItNDZhYzI4ODUxZTEwIiwiaWF0IjoxNzczMjE3MTk4LCJleHAiOjE3NzU3OTM2MDB9.b9djSiYnlaUnp0Aj4Ou2qUXD7BoiDxaIiYRMznpIiu4\"\n    }\n  };\n  \n  if (body && (method === \"POST\" || method === \"PUT\")) {\n    reqConfig.body = typeof body === \"string\" ? JSON.parse(body) : body;\n  }\n\n  const response = await this.helpers.httpRequest(reqConfig);\n  const resStr = JSON.stringify(response, null, 2);\n  if (resStr.length > 2000) {\n    return resStr.substring(0, 2000) + \"\\n... truncated (\" + resStr.length + \" chars)\";\n  }\n  return resStr;\n} catch (e) {\n  return JSON.stringify({error: e.message});\n}",
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\"type\":\"object\",\"properties\":{\"query\":{\"type\":\"string\",\"description\":\"JSON string: {\\\"method\\\":\\\"GET\\\",\\\"path\\\":\\\"/api/v1/workflows\\\",\\\"body\\\":{...optional...}}\"}},\"required\":[\"query\"]}"
      },
      "id": "a1b2c3d4-e5f6-4789-ab01-234567890abc",
      "name": "n8n API Tool",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        460,
        400
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ `Task: ${$json.body?.task || $json.task || 'No task provided'}\n\nPayload:\n${JSON.stringify($json.body || $json, null, 2)}` }}",
        "options": {
          "systemMessage": "You are the dev-loop orchestrator. You CREATE NEW n8n workflows via the API.\n\n## Tool: n8n_api\nPass a JSON string: {\"method\":\"POST\",\"path\":\"/api/v1/workflows\",\"body\":{...}}\n\n## CRITICAL: Keep API responses small\n- NEVER list all workflows (response is huge, will overflow context)\n- Go straight to creating the workflow\n\n## Steps\n1. POST /api/v1/workflows — create the workflow (see template below)\n2. POST /api/v1/workflows/{id}/activate — activate it\n3. Report: new workflow ID, webhook path\n\n## Workflow template for POST /api/v1/workflows\n```json\n{\"name\":\"Hello World\",\"nodes\":[{\"id\":\"n1\",\"name\":\"Webhook\",\"type\":\"n8n-nodes-base.webhook\",\"typeVersion\":2,\"position\":[240,300],\"parameters\":{\"httpMethod\":\"GET\",\"path\":\"hello-world\",\"responseMode\":\"responseNode\",\"options\":{}}},{\"id\":\"n2\",\"name\":\"Respond\",\"type\":\"n8n-nodes-base.respondToWebhook\",\"typeVersion\":1.1,\"position\":[460,300],\"parameters\":{\"respondWith\":\"json\",\"responseBody\":\"={\\\"greeting\\\":\\\"hello\\\"}\"}}],\"connections\":{\"Webhook\":{\"main\":[[{\"node\":\"Respond\",\"type\":\"main\",\"index\":0}]]}},\"settings\":{\"executionOrder\":\"v1\"}}\n```\nAdapt the template for the task. Do NOT list workflows first.",
          "maxIterations": 15
        }
      },
      "id": "8bb633b0-f823-4354-b27c-acdee83b4256",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        680,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n API Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Haiku via OpenRouter": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-04-07T21:27:42.065Z",
      "createdAt": "2026-04-07T21:27:42.065Z",
      "role": "workflow:owner",
      "workflowId": "EBMbixqklugU5WtQ",
      "projectId": "aCXUToL316T52fqN",
      "project": {
        "updatedAt": "2026-03-11T07:37:14.647Z",
        "createdAt": "2026-03-11T07:16:46.408Z",
        "id": "aCXUToL316T52fqN",
        "name": "Marius  J <mariusclaude@proton.me>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "ef4354d8-75df-4047-9d6d-d8972c1eab41"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-08T05:46:25.211Z",
    "createdAt": "2026-04-08T05:46:25.211Z",
    "versionId": "f500f752-903f-485b-9b87-fcdb524fda5e",
    "workflowId": "EBMbixqklugU5WtQ",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "dev-loop",
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "e0f84f02-755e-4c8c-9d67-f2e61a86342b",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          240,
          300
        ],
        "webhookId": "8f2f6218-9be7-4b75-8758-6c30cd22d31a"
      },
      {
        "parameters": {
          "model": "anthropic/claude-haiku-4-5",
          "options": {
            "temperature": 0.1
          }
        },
        "id": "8df3d95d-d130-4654-ad3f-b6384d82d7bc",
        "name": "Haiku via OpenRouter",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1,
        "position": [
          460,
          200
        ],
        "credentials": {
          "openAiApi": {
            "id": "mOL6UoYXfgKf6RZh",
            "name": "OpenRouter"
          }
        }
      },
      {
        "parameters": {
          "name": "n8n_api",
          "description": "Call the n8n REST API. Pass JSON: {method, path, body?}. Example: {\"method\":\"GET\",\"path\":\"/api/v1/workflows\"}",
          "language": "javaScript",
          "jsCode": "try {\n  const raw = typeof query === \"object\" && query.query ? query.query : query;\n  const input = typeof raw === \"string\" ? JSON.parse(raw) : raw;\n  const method = (input.method || \"GET\").toUpperCase();\n  const path = input.path || \"/api/v1/workflows\";\n  const body = input.body || undefined;\n\n  const url = \"http://localhost:5678\" + path;\n  const reqConfig = {\n    method: method,\n    url: url,\n    headers: {\n      \"Content-Type\": \"application/json\",\n      \"X-N8N-API-KEY\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJlZjQzNTRkOC03NWRmLTQwNDctOWQ2ZC1kODk3MmMxZWFiNDEiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiMjAyYTY5NWItZWE4Ny00YWUxLWE3N2ItNDZhYzI4ODUxZTEwIiwiaWF0IjoxNzczMjE3MTk4LCJleHAiOjE3NzU3OTM2MDB9.b9djSiYnlaUnp0Aj4Ou2qUXD7BoiDxaIiYRMznpIiu4\"\n    }\n  };\n  \n  if (body && (method === \"POST\" || method === \"PUT\")) {\n    reqConfig.body = typeof body === \"string\" ? JSON.parse(body) : body;\n  }\n\n  const response = await this.helpers.httpRequest(reqConfig);\n  const resStr = JSON.stringify(response, null, 2);\n  if (resStr.length > 2000) {\n    return resStr.substring(0, 2000) + \"\\n... truncated (\" + resStr.length + \" chars)\";\n  }\n  return resStr;\n} catch (e) {\n  return JSON.stringify({error: e.message});\n}",
          "specifyInputSchema": true,
          "schemaType": "manual",
          "inputSchema": "{\"type\":\"object\",\"properties\":{\"query\":{\"type\":\"string\",\"description\":\"JSON string: {\\\"method\\\":\\\"GET\\\",\\\"path\\\":\\\"/api/v1/workflows\\\",\\\"body\\\":{...optional...}}\"}},\"required\":[\"query\"]}"
        },
        "id": "a1b2c3d4-e5f6-4789-ab01-234567890abc",
        "name": "n8n API Tool",
        "type": "@n8n/n8n-nodes-langchain.toolCode",
        "typeVersion": 1.3,
        "position": [
          460,
          400
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ `Task: ${$json.body?.task || $json.task || 'No task provided'}\n\nPayload:\n${JSON.stringify($json.body || $json, null, 2)}` }}",
          "options": {
            "systemMessage": "You are the dev-loop orchestrator. You CREATE NEW n8n workflows via the API.\n\n## Tool: n8n_api\nPass a JSON string: {\"method\":\"POST\",\"path\":\"/api/v1/workflows\",\"body\":{...}}\n\n## CRITICAL: Keep API responses small\n- NEVER list all workflows (response is huge, will overflow context)\n- Go straight to creating the workflow\n\n## Steps\n1. POST /api/v1/workflows — create the workflow (see template below)\n2. POST /api/v1/workflows/{id}/activate — activate it\n3. Report: new workflow ID, webhook path\n\n## Workflow template for POST /api/v1/workflows\n```json\n{\"name\":\"Hello World\",\"nodes\":[{\"id\":\"n1\",\"name\":\"Webhook\",\"type\":\"n8n-nodes-base.webhook\",\"typeVersion\":2,\"position\":[240,300],\"parameters\":{\"httpMethod\":\"GET\",\"path\":\"hello-world\",\"responseMode\":\"responseNode\",\"options\":{}}},{\"id\":\"n2\",\"name\":\"Respond\",\"type\":\"n8n-nodes-base.respondToWebhook\",\"typeVersion\":1.1,\"position\":[460,300],\"parameters\":{\"respondWith\":\"json\",\"responseBody\":\"={\\\"greeting\\\":\\\"hello\\\"}\"}}],\"connections\":{\"Webhook\":{\"main\":[[{\"node\":\"Respond\",\"type\":\"main\",\"index\":0}]]}},\"settings\":{\"executionOrder\":\"v1\"}}\n```\nAdapt the template for the task. Do NOT list workflows first.",
            "maxIterations": 15
          }
        },
        "id": "8bb633b0-f823-4354-b27c-acdee83b4256",
        "name": "AI Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          680,
          300
        ]
      }
    ],
    "connections": {
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "n8n API Tool": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Haiku via OpenRouter": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Marius  J",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-08T05:46:25.250Z",
        "id": 142,
        "workflowId": "EBMbixqklugU5WtQ",
        "versionId": "f500f752-903f-485b-9b87-fcdb524fda5e",
        "event": "activated",
        "userId": "ef4354d8-75df-4047-9d6d-d8972c1eab41"
      }
    ]
  }
}
