workflows/03-multi-agent-dispatch/workflow/workflow-traditional.json
{
  "id": "pDLr3eWlGs9ebf79",
  "name": "WF5 - AI Multi-Agent Support",
  "active": true,
  "nodes": [
    {
      "id": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
      "webhookId": "e7f8091a-2b3c-44d5-e6f7-a8b9c0d1e2f3",
      "name": "Webhook Eingang",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        400
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "support",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e",
      "name": "Dispatcher Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        300,
        600
      ],
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "temperature": 0.1
        }
      },
      "credentials": {
        "googlePalmApi": {
          "id": "FVE8T8mYCgIRpSyv",
          "name": "Google Gemini"
        }
      }
    },
    {
      "id": "c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f",
      "name": "Dispatcher Klassifizierung",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        300,
        400
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ `Klassifiziere diese Support-Anfrage und antworte als reines JSON.\n\nText: ${$json.body.text}\nUser: ${$json.body.user}\nKanal: ${$json.body.channel}\n\nJSON Format:\n{\"category\": \"tech|sales|faq|unknown\", \"urgency\": 1-10, \"summary\": \"kurze Zusammenfassung\"}` }}",
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "Du bist ein Support-Dispatcher. Klassifiziere eingehende Anfragen in: tech (technische Probleme, Server, Fehler, Code), sales (Preise, Angebote, Pakete, Kosten), faq (allgemeine Fragen, Passwort, Account, Anleitungen), unknown (unklar). Bewerte Dringlichkeit 1-10. Antworte NUR als JSON ohne Markdown."
            }
          ]
        }
      }
    },
    {
      "id": "d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f80",
      "name": "Kategorie parsen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        550,
        400
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const raw = $json.text || $json.response || \"\";\nconst start = raw.indexOf('{');\nconst end = raw.lastIndexOf('}');\nlet category = 'unknown', urgency = 5, summary = '';\nif (start >= 0 && end > start) {\n  try {\n    const parsed = JSON.parse(raw.substring(start, end + 1));\n    category = (parsed.category || 'unknown').toLowerCase();\n    urgency = parseInt(parsed.urgency) || 5;\n    summary = parsed.summary || '';\n  } catch (e) {}\n}\nconst wb = $('Webhook Eingang').item.json;\nreturn { json: { category, urgency, summary, originalText: wb.body.text || '', originalUser: wb.body.user || '', originalChannel: wb.body.channel || '' } };"
      }
    },
    {
      "id": "e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8091",
      "name": "Route Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        800,
        400
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "tech",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tech"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "sales",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sales"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "faq",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FAQ"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Fallback"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "f6a7b8c9-d0e1-4f2a-3b4c-5d6e7f8091a2",
      "name": "Tech Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1100,
        200
      ],
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "temperature": 0.3
        }
      },
      "credentials": {
        "googlePalmApi": {
          "id": "FVE8T8mYCgIRpSyv",
          "name": "Google Gemini"
        }
      }
    },
    {
      "id": "a7b8c9d0-e1f2-4a3b-4c5d-6e7f8091a2b3",
      "name": "Tech-Spezialist",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1100,
        50
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ `Bearbeite diese technische Support-Anfrage:\n\nAnfrage: ${$json.originalText}\nUser: ${$json.originalUser}\nKanal: ${$json.originalChannel}\nDringlichkeit: ${$json.urgency}/10\nZusammenfassung: ${$json.summary}` }}",
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "Du bist ein erfahrener technischer Support-Spezialist. Analysiere technische Probleme wie Server-Fehler, API-Probleme, Performance-Issues und Code-Bugs. Gib konkrete Loesungsvorschlaege mit Schritten. Antworte auf Deutsch, strukturiert und praezise."
            }
          ]
        }
      }
    },
    {
      "id": "b8c9d0e1-f2a3-4b4c-5d6e-7f8091a2b3c4",
      "name": "Sales Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1100,
        500
      ],
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "temperature": 0.5
        }
      },
      "credentials": {
        "googlePalmApi": {
          "id": "FVE8T8mYCgIRpSyv",
          "name": "Google Gemini"
        }
      }
    },
    {
      "id": "c9d0e1f2-a3b4-4c5d-6e7f-8091a2b3c4d5",
      "name": "Sales-Spezialist",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1100,
        350
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ `Bearbeite diese Sales-Anfrage:\n\nAnfrage: ${$json.originalText}\nUser: ${$json.originalUser}\nKanal: ${$json.originalChannel}\nZusammenfassung: ${$json.summary}` }}",
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "Du bist ein Sales-Spezialist. Beantworte Fragen zu Preisen, Paketen und Angeboten. Unsere Preise: Starter 29 EUR/Monat (5 User), Professional 79 EUR/Monat (20 User), Enterprise 199 EUR/Monat (unbegrenzt). Bei mehr als 50 Usern gibt es 15% Rabatt. Sei freundlich und ueberzeugend. Antworte auf Deutsch."
            }
          ]
        }
      }
    },
    {
      "id": "d0e1f2a3-b4c5-4d6e-7f80-91a2b3c4d5e6",
      "name": "FAQ Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1100,
        800
      ],
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "temperature": 0.3
        }
      },
      "credentials": {
        "googlePalmApi": {
          "id": "FVE8T8mYCgIRpSyv",
          "name": "Google Gemini"
        }
      }
    },
    {
      "id": "e1f2a3b4-c5d6-4e7f-8091-a2b3c4d5e6f7",
      "name": "FAQ-Spezialist",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1100,
        650
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ `Bearbeite diese FAQ-Anfrage:\n\nAnfrage: ${$json.originalText}\nUser: ${$json.originalUser}\nKanal: ${$json.originalChannel}\nZusammenfassung: ${$json.summary}` }}",
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "Du bist ein FAQ-Spezialist. Beantworte allgemeine Fragen zu: Passwort zuruecksetzen (Link unter Einstellungen > Sicherheit), Account loeschen (Support kontaktieren), Datenexport (Einstellungen > Daten > Export), Zahlungsmethoden (Kreditkarte, PayPal, Ueberweisung), Support-Zeiten (Mo-Fr 9-18 Uhr). Halte Antworten kurz und hilfreich. Antworte auf Deutsch."
            }
          ]
        }
      }
    },
    {
      "id": "f2a3b4c5-d6e7-4f80-91a2-b3c4d5e6f7a8",
      "name": "Fallback-Antwort",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        1000
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "return { json: { text: \"Ich konnte Ihre Anfrage leider nicht eindeutig zuordnen. Bitte beschreiben Sie Ihr Anliegen genauer oder wenden Sie sich direkt an unseren Support unter support@firma.de. Unsere Support-Zeiten sind Mo-Fr 9-18 Uhr.\" } };"
      }
    },
    {
      "id": "a3b4c5d6-e7f8-4091-a2b3-c4d5e6f7a8b9",
      "name": "Qualitaets-Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        400
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const antwort = $json.text || $json.response || \"\";\nconst kat = $('Kategorie parsen').item.json;\nconst urgency = kat.urgency || 5;\nconst category = kat.category || 'unknown';\nlet score = 5;\nif (antwort.length > 100) score += 2;\nif (antwort.length > 300) score += 1;\nif (antwort.length < 20) score -= 3;\nscore = Math.max(1, Math.min(10, score));\nreturn { json: { antwort: antwort, kategorie: category, dringlichkeit: urgency, qualitaetsScore: score, user: kat.originalUser || 'unbekannt', channel: kat.originalChannel || 'unbekannt', zusammenfassung: kat.summary || '', timestamp: new Date().toISOString() } };"
      }
    },
    {
      "id": "b4c5d6e7-f809-41a2-b3c4-d5e6f7a8b9c0",
      "name": "Dringlichkeit Filter",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1700,
        400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.dringlichkeit }}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      }
    },
    {
      "id": "c5d6e7f8-091a-42b3-c4d5-e6f7a8b9c0d1",
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2000,
        250
      ],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "YOUR_CHAT_ID",
        "text": "={{ \"DRINGEND [\" + $json.kategorie.toUpperCase() + \"]\\n\" + $json.user + \" | \" + $json.channel + \"\\nDringlichkeit: \" + $json.dringlichkeit + \"/10 | Qualitaet: \" + $json.qualitaetsScore + \"/10\\n\\n\" + ($json.antwort || \"\").split(\"*\").join(\"\").split(\"`\").join(\"\").split(\"_\").join(\"\").substring(0, 200) }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "nzmbw9ZNGZdA9sZp",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "id": "d6e7f809-1a2b-43c4-d5e6-f7a8b9c0d1e2",
      "name": "Antwort senden",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2000,
        550
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $(\"Qualitaets-Check\").first().json }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook Eingang": {
      "main": [
        [
          {
            "node": "Dispatcher Klassifizierung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatcher Klassifizierung": {
      "main": [
        [
          {
            "node": "Kategorie parsen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kategorie parsen": {
      "main": [
        [
          {
            "node": "Route Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Switch": {
      "main": [
        [
          {
            "node": "Tech-Spezialist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sales-Spezialist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FAQ-Spezialist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback-Antwort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tech-Spezialist": {
      "main": [
        [
          {
            "node": "Qualitaets-Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sales-Spezialist": {
      "main": [
        [
          {
            "node": "Qualitaets-Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FAQ-Spezialist": {
      "main": [
        [
          {
            "node": "Qualitaets-Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback-Antwort": {
      "main": [
        [
          {
            "node": "Qualitaets-Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qualitaets-Check": {
      "main": [
        [
          {
            "node": "Dringlichkeit Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dringlichkeit Filter": {
      "main": [
        [
          {
            "node": "Telegram Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Antwort senden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Alert": {
      "main": [
        [
          {
            "node": "Antwort senden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatcher Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "Dispatcher Klassifizierung",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tech Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "Tech-Spezialist",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sales Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "Sales-Spezialist",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "FAQ Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "FAQ-Spezialist",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-11T12:26:57.816Z",
      "createdAt": "2026-03-11T12:26:57.816Z",
      "role": "workflow:owner",
      "workflowId": "pDLr3eWlGs9ebf79",
      "projectId": "aCXUToL316T52fqN",
      "project": {
        "updatedAt": "2026-03-11T07:37:14.647Z",
        "createdAt": "2026-03-11T07:16:46.408Z",
        "id": "aCXUToL316T52fqN",
        "name": "Marius  J <email@example.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "ef4354d8-75df-4047-9d6d-d8972c1eab41"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-11T12:36:45.350Z",
    "createdAt": "2026-03-11T12:36:45.350Z",
    "versionId": "e28e8d00-4fc7-4dcc-a401-bcad1179f5fb",
    "workflowId": "pDLr3eWlGs9ebf79",
    "nodes": [
      {
        "id": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
        "webhookId": "e7f8091a-2b3c-44d5-e6f7-a8b9c0d1e2f3",
        "name": "Webhook Eingang",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          400
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "support",
          "responseMode": "responseNode",
          "options": {}
        }
      },
      {
        "id": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e",
        "name": "Dispatcher Gemini",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          300,
          600
        ],
        "parameters": {
          "modelName": "models/gemini-2.0-flash",
          "options": {
            "temperature": 0.1
          }
        },
        "credentials": {
          "googlePalmApi": {
            "id": "FVE8T8mYCgIRpSyv",
            "name": "Google Gemini"
          }
        }
      },
      {
        "id": "c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f",
        "name": "Dispatcher Klassifizierung",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          300,
          400
        ],
        "parameters": {
          "promptType": "define",
          "text": "={{ `Klassifiziere diese Support-Anfrage und antworte als reines JSON.\n\nText: ${$json.body.text}\nUser: ${$json.body.user}\nKanal: ${$json.body.channel}\n\nJSON Format:\n{\"category\": \"tech|sales|faq|unknown\", \"urgency\": 1-10, \"summary\": \"kurze Zusammenfassung\"}` }}",
          "messages": {
            "messageValues": [
              {
                "type": "SystemMessagePromptTemplate",
                "message": "Du bist ein Support-Dispatcher. Klassifiziere eingehende Anfragen in: tech (technische Probleme, Server, Fehler, Code), sales (Preise, Angebote, Pakete, Kosten), faq (allgemeine Fragen, Passwort, Account, Anleitungen), unknown (unklar). Bewerte Dringlichkeit 1-10. Antworte NUR als JSON ohne Markdown."
              }
            ]
          }
        }
      },
      {
        "id": "d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f80",
        "name": "Kategorie parsen",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          550,
          400
        ],
        "parameters": {
          "mode": "runOnceForEachItem",
          "language": "javaScript",
          "jsCode": "const raw = $json.text || $json.response || \"\";\nconst start = raw.indexOf('{');\nconst end = raw.lastIndexOf('}');\nlet category = 'unknown', urgency = 5, summary = '';\nif (start >= 0 && end > start) {\n  try {\n    const parsed = JSON.parse(raw.substring(start, end + 1));\n    category = (parsed.category || 'unknown').toLowerCase();\n    urgency = parseInt(parsed.urgency) || 5;\n    summary = parsed.summary || '';\n  } catch (e) {}\n}\nconst wb = $('Webhook Eingang').item.json;\nreturn { json: { category, urgency, summary, originalText: wb.body.text || '', originalUser: wb.body.user || '', originalChannel: wb.body.channel || '' } };"
        }
      },
      {
        "id": "e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8091",
        "name": "Route Switch",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          800,
          400
        ],
        "parameters": {
          "mode": "rules",
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "loose"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.category }}",
                      "rightValue": "tech",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Tech"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "loose"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.category }}",
                      "rightValue": "sales",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Sales"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "loose"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.category }}",
                      "rightValue": "faq",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "FAQ"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "loose"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.category }}",
                      "rightValue": "",
                      "operator": {
                        "type": "string",
                        "operation": "exists"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Fallback"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "f6a7b8c9-d0e1-4f2a-3b4c-5d6e7f8091a2",
        "name": "Tech Gemini",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          1100,
          200
        ],
        "parameters": {
          "modelName": "models/gemini-2.0-flash",
          "options": {
            "temperature": 0.3
          }
        },
        "credentials": {
          "googlePalmApi": {
            "id": "FVE8T8mYCgIRpSyv",
            "name": "Google Gemini"
          }
        }
      },
      {
        "id": "a7b8c9d0-e1f2-4a3b-4c5d-6e7f8091a2b3",
        "name": "Tech-Spezialist",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          1100,
          50
        ],
        "parameters": {
          "promptType": "define",
          "text": "={{ `Bearbeite diese technische Support-Anfrage:\n\nAnfrage: ${$json.originalText}\nUser: ${$json.originalUser}\nKanal: ${$json.originalChannel}\nDringlichkeit: ${$json.urgency}/10\nZusammenfassung: ${$json.summary}` }}",
          "messages": {
            "messageValues": [
              {
                "type": "SystemMessagePromptTemplate",
                "message": "Du bist ein erfahrener technischer Support-Spezialist. Analysiere technische Probleme wie Server-Fehler, API-Probleme, Performance-Issues und Code-Bugs. Gib konkrete Loesungsvorschlaege mit Schritten. Antworte auf Deutsch, strukturiert und praezise."
              }
            ]
          }
        }
      },
      {
        "id": "b8c9d0e1-f2a3-4b4c-5d6e-7f8091a2b3c4",
        "name": "Sales Gemini",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          1100,
          500
        ],
        "parameters": {
          "modelName": "models/gemini-2.0-flash",
          "options": {
            "temperature": 0.5
          }
        },
        "credentials": {
          "googlePalmApi": {
            "id": "FVE8T8mYCgIRpSyv",
            "name": "Google Gemini"
          }
        }
      },
      {
        "id": "c9d0e1f2-a3b4-4c5d-6e7f-8091a2b3c4d5",
        "name": "Sales-Spezialist",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          1100,
          350
        ],
        "parameters": {
          "promptType": "define",
          "text": "={{ `Bearbeite diese Sales-Anfrage:\n\nAnfrage: ${$json.originalText}\nUser: ${$json.originalUser}\nKanal: ${$json.originalChannel}\nZusammenfassung: ${$json.summary}` }}",
          "messages": {
            "messageValues": [
              {
                "type": "SystemMessagePromptTemplate",
                "message": "Du bist ein Sales-Spezialist. Beantworte Fragen zu Preisen, Paketen und Angeboten. Unsere Preise: Starter 29 EUR/Monat (5 User), Professional 79 EUR/Monat (20 User), Enterprise 199 EUR/Monat (unbegrenzt). Bei mehr als 50 Usern gibt es 15% Rabatt. Sei freundlich und ueberzeugend. Antworte auf Deutsch."
              }
            ]
          }
        }
      },
      {
        "id": "d0e1f2a3-b4c5-4d6e-7f80-91a2b3c4d5e6",
        "name": "FAQ Gemini",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          1100,
          800
        ],
        "parameters": {
          "modelName": "models/gemini-2.0-flash",
          "options": {
            "temperature": 0.3
          }
        },
        "credentials": {
          "googlePalmApi": {
            "id": "FVE8T8mYCgIRpSyv",
            "name": "Google Gemini"
          }
        }
      },
      {
        "id": "e1f2a3b4-c5d6-4e7f-8091-a2b3c4d5e6f7",
        "name": "FAQ-Spezialist",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          1100,
          650
        ],
        "parameters": {
          "promptType": "define",
          "text": "={{ `Bearbeite diese FAQ-Anfrage:\n\nAnfrage: ${$json.originalText}\nUser: ${$json.originalUser}\nKanal: ${$json.originalChannel}\nZusammenfassung: ${$json.summary}` }}",
          "messages": {
            "messageValues": [
              {
                "type": "SystemMessagePromptTemplate",
                "message": "Du bist ein FAQ-Spezialist. Beantworte allgemeine Fragen zu: Passwort zuruecksetzen (Link unter Einstellungen > Sicherheit), Account loeschen (Support kontaktieren), Datenexport (Einstellungen > Daten > Export), Zahlungsmethoden (Kreditkarte, PayPal, Ueberweisung), Support-Zeiten (Mo-Fr 9-18 Uhr). Halte Antworten kurz und hilfreich. Antworte auf Deutsch."
              }
            ]
          }
        }
      },
      {
        "id": "f2a3b4c5-d6e7-4f80-91a2-b3c4d5e6f7a8",
        "name": "Fallback-Antwort",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1100,
          1000
        ],
        "parameters": {
          "mode": "runOnceForEachItem",
          "language": "javaScript",
          "jsCode": "return { json: { text: \"Ich konnte Ihre Anfrage leider nicht eindeutig zuordnen. Bitte beschreiben Sie Ihr Anliegen genauer oder wenden Sie sich direkt an unseren Support unter support@firma.de. Unsere Support-Zeiten sind Mo-Fr 9-18 Uhr.\" } };"
        }
      },
      {
        "id": "a3b4c5d6-e7f8-4091-a2b3-c4d5e6f7a8b9",
        "name": "Qualitaets-Check",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1400,
          400
        ],
        "parameters": {
          "mode": "runOnceForEachItem",
          "language": "javaScript",
          "jsCode": "const antwort = $json.text || $json.response || \"\";\nconst kat = $('Kategorie parsen').item.json;\nconst urgency = kat.urgency || 5;\nconst category = kat.category || 'unknown';\nlet score = 5;\nif (antwort.length > 100) score += 2;\nif (antwort.length > 300) score += 1;\nif (antwort.length < 20) score -= 3;\nscore = Math.max(1, Math.min(10, score));\nreturn { json: { antwort: antwort, kategorie: category, dringlichkeit: urgency, qualitaetsScore: score, user: kat.originalUser || 'unbekannt', channel: kat.originalChannel || 'unbekannt', zusammenfassung: kat.summary || '', timestamp: new Date().toISOString() } };"
        }
      },
      {
        "id": "b4c5d6e7-f809-41a2-b3c4-d5e6f7a8b9c0",
        "name": "Dringlichkeit Filter",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1700,
          400
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "leftValue": "={{ $json.dringlichkeit }}",
                "rightValue": 7,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        }
      },
      {
        "id": "c5d6e7f8-091a-42b3-c4d5-e6f7a8b9c0d1",
        "name": "Telegram Alert",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2000,
          250
        ],
        "parameters": {
          "resource": "message",
          "operation": "sendMessage",
          "chatId": "YOUR_CHAT_ID",
          "text": "={{ \"DRINGEND [\" + $json.kategorie.toUpperCase() + \"]\\n\" + $json.user + \" | \" + $json.channel + \"\\nDringlichkeit: \" + $json.dringlichkeit + \"/10 | Qualitaet: \" + $json.qualitaetsScore + \"/10\\n\\n\" + ($json.antwort || \"\").split(\"*\").join(\"\").split(\"`\").join(\"\").split(\"_\").join(\"\").substring(0, 200) }}",
          "additionalFields": {}
        },
        "credentials": {
          "telegramApi": {
            "id": "nzmbw9ZNGZdA9sZp",
            "name": "Telegram Bot"
          }
        }
      },
      {
        "id": "d6e7f809-1a2b-43c4-d5e6-f7a8b9c0d1e2",
        "name": "Antwort senden",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          2000,
          550
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $(\"Qualitaets-Check\").first().json }}",
          "options": {}
        }
      }
    ],
    "connections": {
      "Webhook Eingang": {
        "main": [
          [
            {
              "node": "Dispatcher Klassifizierung",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Dispatcher Klassifizierung": {
        "main": [
          [
            {
              "node": "Kategorie parsen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Kategorie parsen": {
        "main": [
          [
            {
              "node": "Route Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route Switch": {
        "main": [
          [
            {
              "node": "Tech-Spezialist",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Sales-Spezialist",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "FAQ-Spezialist",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Fallback-Antwort",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tech-Spezialist": {
        "main": [
          [
            {
              "node": "Qualitaets-Check",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sales-Spezialist": {
        "main": [
          [
            {
              "node": "Qualitaets-Check",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "FAQ-Spezialist": {
        "main": [
          [
            {
              "node": "Qualitaets-Check",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fallback-Antwort": {
        "main": [
          [
            {
              "node": "Qualitaets-Check",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Qualitaets-Check": {
        "main": [
          [
            {
              "node": "Dringlichkeit Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Dringlichkeit Filter": {
        "main": [
          [
            {
              "node": "Telegram Alert",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Antwort senden",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Telegram Alert": {
        "main": [
          [
            {
              "node": "Antwort senden",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Dispatcher Gemini": {
        "ai_languageModel": [
          [
            {
              "node": "Dispatcher Klassifizierung",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Tech Gemini": {
        "ai_languageModel": [
          [
            {
              "node": "Tech-Spezialist",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Sales Gemini": {
        "ai_languageModel": [
          [
            {
              "node": "Sales-Spezialist",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "FAQ Gemini": {
        "ai_languageModel": [
          [
            {
              "node": "FAQ-Spezialist",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Marius  J",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-11T12:36:45.460Z",
        "id": 21,
        "workflowId": "pDLr3eWlGs9ebf79",
        "versionId": "e28e8d00-4fc7-4dcc-a401-bcad1179f5fb",
        "event": "activated",
        "userId": "ef4354d8-75df-4047-9d6d-d8972c1eab41"
      },
      {
        "createdAt": "2026-03-11T12:37:02.676Z",
        "id": 23,
        "workflowId": "pDLr3eWlGs9ebf79",
        "versionId": "e28e8d00-4fc7-4dcc-a401-bcad1179f5fb",
        "event": "activated",
        "userId": "ef4354d8-75df-4047-9d6d-d8972c1eab41"
      },
      {
        "createdAt": "2026-03-11T12:36:45.428Z",
        "id": 20,
        "workflowId": "pDLr3eWlGs9ebf79",
        "versionId": "e28e8d00-4fc7-4dcc-a401-bcad1179f5fb",
        "event": "deactivated",
        "userId": "ef4354d8-75df-4047-9d6d-d8972c1eab41"
      },
      {
        "createdAt": "2026-03-11T12:37:02.615Z",
        "id": 22,
        "workflowId": "pDLr3eWlGs9ebf79",
        "versionId": "e28e8d00-4fc7-4dcc-a401-bcad1179f5fb",
        "event": "deactivated",
        "userId": "ef4354d8-75df-4047-9d6d-d8972c1eab41"
      }
    ]
  }
}
